.product-list-page {
  padding: 20px 6% 60px;
}

.product-list-page__filters {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.input.product-list-page__sort {
  width: 180px;
  min-width: 180px;
}
